@page "/"

<div class="text-3xl font-earthis">
    Hello Earthis
</div>

<div class="text-3xl font-eczar">
    Hello Eczar
</div>

<Map MapOptions="@_options" FlyToOptions="@_flyToOptions">
    <GeolocateControl />
</Map>
