@page "/"

<h2>Hello</h2>
<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
    <select @bind="Model.VehicleSizeName">
        <option value="">-- Select Size of Garbage --</option>
        @foreach (var vehicleSize in VehicleSizes)
        {
            <option value="@vehicleSize.Name">@vehicleSize.Name</option>
        }
    </select>

    <button type="submit" class="btn btn-primary"> Add Location</button>
</EditForm>
<br/>
<div id="google-map" style="height:500px;width:100%;"></div>