@page "/"

<PageTitle>Home</PageTitle>

<div class="text-3xl font-earthis">
    Hello Earthis
</div>

<div class="text-3xl font-eczar">
    Hello Eczar
</div>

<div id="map" style='width: 400px; height: 300px;'></div>

<SectionContent SectionName="scripts">
    <script src="js/map.js"></script>
    <script src="js/features/home.js"></script>
</SectionContent>